<h3><%= @work.title %></h3>
<ul>
  <li> <%= link_to "Back to media ranks", root_path %></li>
  <li> <%= link_to "Edit", edit_work_path(@work)%></li>
  <li> <%="Upvote"%></li>
  <li> <%= link_to "Delete", work_path(@work), method: :delete, data: { confirm: "Are you sure?" } %></li>
</ul>
