<section>
<h2><%= @work.title %><h2>
<p>Created by: <%= @work.creator %></p>
<p>Published: <%= @work.publication_year %></p>
<p><%= @work.description %></p>

<button><%= link_to "Back to media ranks", root_path %></button>
<button><%= link_to "Edit", edit_work_path(@work) %></button>
<button><%= link_to "Upvote" %></button>
<button><%= link_to "Delete", work_path(@work), method: :delete, data: { confirm: "Are you sure?" } %></button>
</section>