<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h2>
        <%= link_to "Media Ranker", root_path %> |
        <%= "Ranking the Best of Everything"%>
      </h2>

      <nav>
        <%= "View top media" %>        
        <%= link_to "View All", works_path %>
        <%= link_to "Add a new work", new_work_path %>
        <%= "View all users" %>

        <% if session[:user_id] %>
          <%= link_to "Logout", logout_path, method: :post %>
        <% else %>
          <%= link_to "Log in", login_path %>
        <% end %>
      </nav>
    </header>

    <main>
      <section class="flash-msg__section">
        <% flash.each do |name, message| %>
          <strong class="<%= name %>">
            <%= message %>
          </strong>
        <% end %>
      </section>
      <%= yield %>
    </main>
  </body>

</html>
