<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to "Home", root_path %>
        <%= link_to "Add New", new_work_path %>

        <% if session[:user_id] %>
          <li><%= link_to "Logout", logout_path, method: :post %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
  
</html>
